html {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;


}

a {
    font-size: 12px;
    text-decoration: none;
    color: white;
}

/* Navigation */
.topnav {
    display: none;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    position: fixed;
    z-index: 300;

}

.nav {
    display: none;
    width: 0%;
    height: 0%;
}

.logo {
    width: 100px;
    position: fixed;
    left: 2%;
    display: inline;


}

.logo img {
    width: 100%;
}

.header .socials {
    display: flex;
}

.header .socials img {
    flex: 1;
    width: 15px;
    text-align: center;
}

.burgerContainer {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #ffffff;
    z-index: 200;


}

.burger {

    overflow: hidden;
    position: fixed;
    right: 0%;
    z-index: 200;
    width: 100%;

}

.burger #myLinks {
    display: none;
}

.popup {
    margin-top: 20px;
    text-align: center;
    background-color: #ddeaee;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 310;
}

.popup a {
    margin-top: 20px;
    text-align: center;
    z-index: 310;
}

.burger a {
    margin: 10px;
    z-index: 300;
    color: white;

    height: 30px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.burger .current {

    text-decoration: underline;
}

.burger a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;

}

.burger img {
    width: 30px;
}

.burgerIcon {
    float: right;
    width: 30px;
    z-index: 100;
}

.burger a:hover {
    color: gray;
    text-decoration: underline;
}

.burgerSocials {
    display: inline-flex;
}

.burgerSocials img {
    display: inline-flex;
    width: 30px;
}

/*Body*/
.a {
    font-family: 'Montserrat', sans-serif;
}

.a .href {
    text-decoration: none;
}

.margin {
    background-color: #ddeaee;

    margin-left: 5%;
    margin-right: 5%;
}

.centerImage img {
    width: 100%;
}

.bubblesContainer {
    display: flex;
}

.bubbles {
    flex: 1;
    background-color: #293452;
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 15px 15px 0px 15px
}

.bubbles h2 {
    margin-bottom: 20px;
}

.bubbles .a {
    text-decoration: none;
}

.bubbles .link {
    margin-top: 50px;
    margin-bottom: 20px;

}


.newsContainer {
    display: flex;

}

.news {
    flex: 1;

}

.news img {
    width: 50%;
    border-radius: 15px 15px 15px 15px
}

.article {
    background-color: #293452;
    margin: 10px;
    color: white;
    border-radius: 15px 15px 0px 15px;
    display: flex;
}

.article a {
    margin: 10px;
}

.eventContainer {
    display: flex;
}

.event {
    flex: 1;
}

.event img {
    width: 100%;
    border-radius: 15px 15px 15px 15px
}

.ev {
    background-color: #357fbe;
    margin: 10px;
    color: white;
    border-radius: 15px 15px 0px 15px
}

/* code for line before and after text from https://www.geeksforgeeks.org/how-to-make-horizontal-line-with-words-in-the-middle-using-css/*/
h1 {
    display: flex;
    flex-direction: row;
}

h1:before {
    content: "";
    flex: 1;
    border-bottom: 2px solid #357fbe;
    margin: auto;
}

h1:after {
    content: "";
    flex: 3;
    border-bottom: 2px solid #357fbe;
    margin: auto;
}

/*footer*/

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #84B5C2;
    color: white;
}

.footer .logo {
    flex: 1;
    height: 100px;


}

.footer .adress {
    flex: 2;
    height: 100px;
    text-align: center;
    flex-direction: column;
    display: flex;

}

footer .adress a {
    flex: 1;
    align-items: center;

}

.footer .contact {
    flex: 2;
    height: 100px;
    text-align: center;
    flex-direction: column;
    display: flex;
}

.footer .socials {
    flex: 2;
    text-align: center;
    flex-direction: column;
    display: flex;
    margin-top: 20px;
}

.footer .socials img {
    width: 30px;
    margin: 2px;
}


@media (min-width: 768px) {
    .profilePicture {

        width: 30%;

    }

    .burger {
        display: none;
    }

    .nav .current {
        color: #84B5C2;


    }

    .logo {
        float: left;
        width: 100px;
        position: relative;
        margin-right: 20px;
        left: 2%;
        display: inline;
    }

    .topnav {
        display: block;
        width: 100%;
        height: 60px;
        z-index: 300;
    }

    .nav {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;

        width: 85%;
        height: 50px;
        overflow: hidden;


    }



    .pages a {
        position: relative;
        width: 10%;
        margin: 5px;
        float: left;
        color: #293452;
        text-transform: uppercase;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        font-size: 14px;

    }

    .pages a:hover {

        color: #84B5C2;
    }

    /* Add a color to the active/current link */
    .pages a.active {
        color: #357fbe;

    }

    .burger {
        margin-top: 5px;
    }

    .social {
        float: right;
        width: 25px;
        background-color: #293452;
        z-index: 101;
        margin: 5px;
        padding: 9px 10px;
        text-align: center;
        display: block;
        border-radius: 15px 15px 0px 15px;
    }

    .socials img {
        height: 20px;
    }

}