html {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;


}

a {
    font-size: 12px;
    text-decoration: none;
    color: white;
}

p {
    font-size: 12px;
    text-decoration: none;
    color: white;
}

/* Navigation */
.topnav {
    display: none;
}

.nav {
    display: none;
    width: 0%;
    height: 0%;
}

.logo {
    width: 100px;
    position: fixed;
    left: 2%;
    display: inline;


}

.logo img {
    width: 100%;
}

.header .socials {
    display: flex;
}

.header .socials img {
    flex: 1;
    width: 15px;
    text-align: center;
}

.burgerContainer {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #ffffff;
    z-index: 200;


}

.burger {

    overflow: hidden;
    position: fixed;
    right: 0%;
    z-index: 200;
    width: 100%;

}

.burger #myLinks {
    display: none;
}

.popup {
    margin-top: 20px;
    text-align: center;
    background-color: #ddeaee;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 310;
}

.popup a {
    margin-top: 20px;
    text-align: center;
    z-index: 310;
}

.burger a {
    margin: 10px;
    z-index: 300;
    color: #293452;

    height: 30px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.burger .current {

    text-decoration: underline;
}

.burger a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;

}

.burger .logo img {
    width: 100%;
}

.burger img {
    width: 30px;
}

.burgerIcon {
    float: right;
    width: 30px;
    z-index: 100;
}

.burger a:hover {
    color: gray;
    text-decoration: underline;
}

.burgerSocials {
    display: inline-flex;
}

.burgerSocials img {
    display: inline-flex;
    width: 30px;
}

/*Body*/
.p {
    font-family: 'Montserrat', sans-serif;
}

.p .href {
    text-decoration: none;
}

.margin {
    background-color: #ddeaee;

    margin-left: 5%;
    margin-right: 5%;
}

.centerImage img {
    width: 100%;
}

.bubbles {
    flex: 1;
    background-color: #293452;
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 15px 15px 0px 15px
}

.bubbles h3 {
    margin-bottom: 20px;
}

.bubbles .p {
    text-decoration: none;
}

.bubbles .link {
    margin-top: 50px;
    margin-bottom: 20px;

}

.news {
    flex: 1;

}

.news img {
    width: 50%;
    border-radius: 15px 15px 15px 15px
}

.article {
    background-color: #293452;
    margin: 10px;
    color: white;
    border-radius: 15px 15px 0px 15px;
    display: flex;
}

.article p {
    margin: 10px;
}



.event {
    flex: 1;
}

.event img {
    width: 100%;
    border-radius: 15px 15px 15px 15px
}

.ev {
    background-color: #357fbe;
    margin: 10px;
    color: white;
    border-radius: 15px 15px 0px 15px
}

/* code for line before and after text from https://www.geeksforgeeks.org/how-to-make-horizontal-line-with-words-in-the-middle-using-css/*/
h2 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2:before {
    content: "";
    flex: 1;
    border-bottom: 2px solid #357fbe;
    margin: auto;
}

h2:after {
    content: "";
    flex: 3;
    border-bottom: 2px solid #357fbe;
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*contact page from https://www.w3schools.com/howto/howto_css_contact_form.asp/*
/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #357fbe;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    opacity: 0.5;
}

/* Add a background color and some padding around the form */
.containerContact {
    border-radius: 5px;
    background-color: #293452;
    color: white;
}

.empty {
    width: 100%;
    height: 70px;
}

/*footer*/

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    color: #293452;
}

.footer .socials {
    flex: 1;
    text-align: ;
}

.footer .socials img {
    width: 20px;
    margin: 0px;

}

.social {
    float: left;
    background-color: #293452;
    z-index: 101;
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3px 4px;
    text-align: center;
    border-radius: 5px 5px 0px 5px;
}

.stayConected {
    flex: 1;
    text-align: center;


}

.stayConected h2 {
    margin: 10px;

}

.partners {
    flex: 1;

}

.partners img {
    width: 80%;
    padding: 5%;
}

/* end footer*/
/*What is IPO page*/
/*Flex structure */


.IPOImage {
    margin: 10px
}

.IPOImage img {
    width: 100%;
}

/* Wat is IPO*/
.whatIsIPO {
    margin: 10px;
    text-align: justify;

}

.whatIsIPO p {
    color: #293452;
}

.whatIsIPO h2 {
    margin-bottom: 10px;
}

/* Wie zijn we */
.whoAreWe {
    margin: 10px;
    text-align: justify;
}

.whoAreWe h2 {
    margin-bottom: 10px;
}

.whoAreWe p {
    color: #293452;
}

.whoAreWe a {
    color: #357fbe;
}

/* Fases */

.fase {
    flex: 1;
    background-color: #293452;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px 10px 0px 10px;
    text-align: center;
}

.faseExplanation {
    flex: 2;
    margin: 10px;
    padding: 10px;
    color: #293452;
}

.faseExplanation p {
    color: #293452;
    text-align: justify;
}



/*contact page */
.containerContact {
    padding: 70px;
}

@media (min-width: 600px) {


    .burger {
        display: none;
    }

    .topnav .current {
        color: #84B5C2;
    }





    /* navigation bar */
    .topnav {

        width: 100%;
        height: 50px;
        background-color: #ffffff;
        position: fixed;
        z-index: 300;
        display: flex;
        z-index: 300;
    }

    .logo {
        flex: 1;
        float: left;
        width: 150px;
        position: relative;
        left: 0;
        display: inline;
        margin-top: -10px;
    }

    .logo img {
        width: 150px;
    }

    .pages {
        flex: 4;

    }

    .pages a {
        float: left;
        color: #293452;
        text-transform: uppercase;
        text-align: center;
        padding: 8px;
        padding-top: 20px;
        text-decoration: none;
        font-size: 10px;

    }

    .pages a:hover {

        color: #84B5C2;
    }

    .socials {
        flex: 2;


    }

    .socials img {
        width: 15px;
    }

    .social {
        float: right;
        width: 25px;
        background-color: #293452;
        z-index: 101;
        margin: 1px;
        margin-top: 10px;
        padding: 5px 4px;
        text-align: center;
        display: block;
        border-radius: 10px 10px 0px 10px;
    }

    /* Flex containers */
    .bubblesContainer {
        display: flex;
    }

    .newsContainer {
        display: flex;
    }

    .eventContainer {
        display: flex;
    }

    /* Add a color to the active/current link */
    .pages a.active {
        color: #357fbe;

    }

    .burger {
        margin-top: 5px;
    }

    .partners img {
        width: 30%;
        padding: 0;
    }

}

@media (min-width: 768px) {

    .pages a {
        font-size: 14px;
    }

    /*What is IPO page*/
    /*Flex structure */
    .IPOContainer {
        display: flex;
    }

    .IPO {
        flex: 1;
    }

    .IPOImage {
        flex: 1;
    }

    .faseContaner {
        display: flex;
    }

    .faseExplanation {
        margin-top: 50px;
    }

}



@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .margin {
        background-color: #ddeaee;

        margin-left: 15%;
        margin-right: 15%;
    }

    .flexContainer {
        display: flex;
    }

    .news900 {
        flex: 1;
    }

    .event900 {
        flex: 1;
    }

}